[submodule "bytec0de | FK0aY8eoRk98zH1zaGxt"]
	path = bytec0de | FK0aY8eoRk98zH1zaGxt
	url = https://github.com/zaksandra/Cal-API
[submodule "Syndicate | 5iDh7aXf4uba8VWyl2WM"]
	path = Syndicate | 5iDh7aXf4uba8VWyl2WM
	url = https://github.com/S-HARI-S/zealous-productivity-site
[submodule "Syndicate | 2rgDE14oJ5I2DKmx8ER4"]
	path = Syndicate | 2rgDE14oJ5I2DKmx8ER4
	url = https://github.com/S-HARI-S/zealous-productivity-site
[submodule "ICONIC | 3mykmQrDXswiLC4XbgC2"]
	path = ICONIC | 3mykmQrDXswiLC4XbgC2
	url = https://github.com/ICONIC-Saturday-HackNight/Calendar-API
[submodule "Techos | Cu0mOu7nCjapiNdgmjBn"]
	path = Techos | Cu0mOu7nCjapiNdgmjBn
	url = https://github.com/rithins36/Saturday-hacknight
[submodule "Incredibles | g8q08BM9bqlWqB8j0qWj"]
	path = Incredibles | g8q08BM9bqlWqB8j0qWj
	url = https://github.com/NazimFilzer/Saturday-hack-night-1
[submodule "CrypticPlan | 67sUiZWx1A0NugvEJQy7"]
	path = CrypticPlan | 67sUiZWx1A0NugvEJQy7
	url = https://github.com/adhilameenet/SHN-CalendarAPI
[submodule "Boolean | baEXDKdTbFDByMzMZqmb"]
	path = Boolean | baEXDKdTbFDByMzMZqmb
	url = https://github.com/Jyothi-Dk/Jyothi7.github.io
