[submodule "bytec0de | FK0aY8eoRk98zH1zaGxt"]
	path = bytec0de | FK0aY8eoRk98zH1zaGxt
	url = https://github.com/zaksandra/Cal-API
[submodule "Syndicate | 5iDh7aXf4uba8VWyl2WM"]
	path = Syndicate | 5iDh7aXf4uba8VWyl2WM
	url = https://github.com/S-HARI-S/zealous-productivity-site
[submodule "Syndicate | 2rgDE14oJ5I2DKmx8ER4"]
	path = Syndicate | 2rgDE14oJ5I2DKmx8ER4
	url = https://github.com/S-HARI-S/zealous-productivity-site
[submodule "ICONIC | 3mykmQrDXswiLC4XbgC2"]
	path = ICONIC | 3mykmQrDXswiLC4XbgC2
	url = https://github.com/ICONIC-Saturday-HackNight/Calendar-API
[submodule "Techos | Cu0mOu7nCjapiNdgmjBn"]
	path = Techos | Cu0mOu7nCjapiNdgmjBn
	url = https://github.com/rithins36/Saturday-hacknight
